<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <%- include('header') %>
        <main class="margin">
            <h2>🔧 Edit product</h2>
            <form action="/products/<%= product.id %>/edit" method="POST" class="main">
                <label for="name">Name</label>
                <input type="text" name="name" value="<%= locals.fields ? fields.name : product.name %>">
                <div class="error"><%= locals.errors && "name" in locals.errors ? errors.name.msg : "" %></div>

                <label for="emoji">Emoji</label>
                <input type="text" name="emoji" value="<%= locals.fields ? fields.emoji : product.emoji %>">
                <div class="error"><%= locals.errors && "emoji" in locals.errors ? errors.emoji.msg : "" %></div>

                <label for="price">Price</label>
                <input type="number" name="price" step="0.01" value="<%= locals.fields ? fields.price : product.price %>">
                <div class="error"><%= locals.errors && "price" in locals.errors ? errors.price.msg : "" %></div>

                <label for="quantity">Quantity</label>
                <input type="number" name="quantity" value="<%= locals.fields ? fields.quantity  : product.quantity %>">
                <div class="error"><%= locals.errors && "quantity" in locals.errors ? errors.quantity.msg : "" %></div>

                <label for="categoryId">Category</label>
                <select name="categoryId">
                    <option value="" disabled selected>Select</option>
                    <% categories.forEach(category => { %>
                        <% let selected = category.name == product.category ? "selected" : "" %>
                        <% if (locals.fields) selected = category.id == fields.categoryId ? "selected" : "" %>
                        <option value="<%= category.id %>" <%= selected %>><%= category.name %></option>
                    <% }) %>
                </select>
                <div class="error"><%= locals.errors && "categoryId" in locals.errors ? errors.categoryId.msg : "" %></div>

                <div class="buttonContainer">
                    <button>Submit</button>
                    <a href="/products/<%= product.id %>" class="button secondary">Cancel</a>
                </div>
            </form>
            <form action="/products/<%= product.id %>/delete" method="POST" id="deleteForm">
                <button onclick="validateUser(event)" class="delete" type="button">Delete</button>
            </form>
        </main>

        <script>
            function validateUser(e) {
                e.preventDefault()
                let password = prompt("Please enter the admin password to delete this item.")
                if (password === '<%= admin %>') {
                    document.getElementById("deleteForm").submit()
                    console.log('done')
                } else if (password !== null) {
                    alert('Password incorrect.')
                }
            }
        </script>
    </body>
</html>