<html>
    <%- include('head')%>
    <body>
        <%- include('header') %>
        <main>
            <h2>🔧 Edit category</h2>
            <form action="/categories/<%= category.id %>/edit" method="POST" class="main">
                <label for="name">Name</label>
                <input type="text" name="name" value="<%= locals.fields ? fields.name : category.name %>">
                <div class="error"><%= locals.errors && "name" in locals.errors ? errors.name.msg : "" %></div>
                <div class="buttonContainer">
                    <button>Submit</button>
                    <a href="/categories" class="button secondary">Cancel</a>
                </div>
            </form>
            <% if (category.id > 12) { %>
                <form action="/categories/<%= category.id %>/delete" method="POST" id="deleteCategoryForm">
                    <button onclick="validateDeletion(event)" class="delete" type="button">Delete</button>
                </form>
            <% } %>
        </main>
    </body>
    <script>
        function validateDeletion(e) {
            e.preventDefault()
            if (confirm("Are you sure you want to delete this category?")) {
                document.getElementById("deleteCategoryForm").submit()
            }
        }
    </script>
</html>