<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('header') %>
        <h2>Edit product</h2>
        <form action="/products/<%= product.id %>/edit" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" value="<%= product.name %>">
            <label for="emoji">Emoji</label>
            <input type="text" name="emoji" value="<%= product.emoji %>">
            <label for="price">Price</label>
            <input type="text" name="price" value="<%= product.price %>">
            <label for="quantity">Quantity</label>
            <input type="text" name="quantity" value="<%= product.quantity %>">
            <label for="categoryId">Category</label>
            <select name="categoryId">
                <option value="" disabled>Select</option>
                <% categories.forEach(category => { %>
                    <% let selected = category.name == product.category ? "selected" : "" %>
                    <option value="<%= category.id %>" <%= selected %>><%= category.name %></option>
                <% }) %>
            </select>
            <button>Submit</button>
        </form>
        <a href="/products/<%= product.id %>">
            <button>Back</button>
        </a>
    </body>
</html>