<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('header') %>
        <h2><%= product.name %></h2>
            <div class="productCard">
            <div class="emoji"><%= product.emoji %></div>
            <div class="price"><%= product.price %></div>
            <div class="quantity"><%= product.quantity %></div>
            <div class="category"><%= product.category %></div>
        </div>
    </body>
</html>