<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <%- include('header', { search: search }) %>
        <main class="products">
            <div class="title inventory">
                <h2>🛒 Inventory</h2>
                <a href="/products/add" class="button iconButton">
                    <span class="material-icons">add</span>
                </a>
                <%- include('sortProducts', { sort: sort }) %>
                <%- include('filterProducts', { filter: filter, categories: categories }) %>
            </div>
            <section class="productsList">
                <% if (locals.products.length ) { %>
                    <% products.forEach(product => { %>
                        <a href="/products/<%= product.id %>">
                            <div class="productCard">
                                <div class="emoji"><%= product.emoji %></div>
                                <div class="name"><%= product.name %></div>
                                <div class="category"><%= product.category ? product.category : 'Uncategorised' %></div>
                                <div class="details">
                                    <div class="price">$<%= product.price %></div>
                                    <div class="quantity"><%= product.quantity %> QTY</div>
                                </div>
                            </div>
                        </a>
                    <% }) %>
                <% } %>
            </section>
            <% if ( !locals.products.length ) { %>
                <div class="notFound">
                    <h3>⚠️ No products found.</h3>
                    <a href="/products" class="button">Back to all products</a>
                </div>
            <% } %>
        </main>
    </body>
</html>