<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('header') %>
        <h2>Products</h2>
        <section class="productsList">
            <% if (locals.products ) { %>
                <% products.forEach(product => { %>
                    <a href="/products/<%= product.id %>">
                        <div class="productCard">
                            <div class="emoji"><%= product.emoji %></div>
                            <div class="name"><%= product.name %></div>
                            <div class="price"><%= product.price %></div>
                            <div class="quantity"><%= product.quantity %></div>
                            <div class="category"><%= product.category %></div>
                        </div>
                    </a>
                <% }) %>
            <% } %>
        </section>
        <a href="/products/add">
            <button>Add product</button>
        </a>
    </body>
</html>